In [13]:
# Dependencies
import os
import csv

import pandas as pd
import numpy as np

In [14]:
# Read in csv file
csv_file = os.path.join("Resources", "school_board_achievements_progress.xlsx")

In [15]:
# Create DataFrame
data = pd.read_excel(csv_file)
df = pd.DataFrame(data)
df.head()

,Board Number,Board Name,Board Language,Board Type,District Name,City,Grade 6 EQAO Reading Results,Progress in Grade 6 EQAO Reading Results,Grade 10 OSSLT Results,Progress in Grade 10 OSSLT Results,Credit Accumulation by the end of Grade 10,Progress in Credit Accumulation by the end of Grade 10,Credit Accumulation by the end of Grade 11,Progress in Credit Accumulation by the end of Grade 11,Primary Class Size with 20 Students or less,Progress in Primary Class Size with 20 Students or less,Four Year Graduation Rate,Progress in Four Year Graduation Rate,Five Year Graduation Rate,Progress in Five Year Graduation Rate
0,B28010,Algoma DSB,English,Public,NB,Sault Ste Marie,0.71,0.04,0.67,0.01,0.72,-0.01,0.76,0.03,0.96,0.35,0.699858,-0.007367,0.769559,-0.011176
1,B67202,Algonquin and Lakeshore CDSB,English,Roman Catholic,OW,Napanee,0.77,-0.04,0.79,-0.04,0.85,-0.01,0.87,-0.04,0.93,0.53,0.875145,0.001905,0.907514,-0.007979
2,B66010,Avon Maitland DSB,English,Public,LD,Seaforth,0.81,0.01,0.75,-0.01,0.78,-0.01,0.76,-0.01,0.94,0.48,0.743966,0.025608,0.869828,0.030766
3,B66001,Bluewater DSB,English,Public,BE,Chesley,0.72,-0.03,0.78,0.00,0.72,-0.01,0.73,0.02,0.90,0.59,0.699913,0.026041,0.820468,0.005619
4,B67164,Brant Haldimand Norfolk CDSB,English,Roman Catholic,LD,Brantford,0.87,0.04,0.82,-0.01,0.79,-0.01,0.86,-0.01,0.91,0.51,0.834761,0.006403,0.886169,0.019253

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 20 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Board Number                                             72 non-null     object
 1   Board Name                                               72 non-null     object
 2   Board Language                                           72 non-null     object
 3   Board Type                                               72 non-null     object
 4   District Name                                            72 non-null     object
 5   City                                                     72 non-null     object
 6   Grade 6 EQAO Reading Results                             72 non-null     float64
 7   Progress in Grade 6 EQAO Reading Results                 72 non-null     float64
 8   Grade 10 OSSLT Results                                   70 non-null     float64
 9   Progress in Grade 10 OSSLT Results                       70 non-null     float64
 10  Credit Accumulation by the end of Grade 10               70 non-null     float64
 11  Progress in Credit Accumulation by the end of Grade 10   70 non-null     float64
 12  Credit Accumulation by the end of Grade 11               70 non-null     float64
 13  Progress in Credit Accumulation by the end of Grade 11   70 non-null     float64
 14  Primary Class Size with 20 Students or less              72 non-null     float64
 15  Progress in Primary Class Size with 20 Students or less  72 non-null     float64
 16  Four Year Graduation Rate                                70 non-null     float64
 17  Progress in Four Year Graduation Rate                    70 non-null     float64
 18  Five Year Graduation Rate                                70 non-null     float64
 19  Progress in Five Year Graduation Rate                    70 non-null     float64
dtypes: float64(14), object(6)
memory usage: 11.4+ KB

In [17]:
df.shape

(72, 20)

In [18]:
# Finding null values
for column in df.columns:
    print(f"Column {column} has {df[column].isnull().sum()} null values.")

Column Board Number has 0 null values.
Column Board Name has 0 null values.
Column Board Language has 0 null values.
Column Board Type has 0 null values.
Column District Name has 0 null values.
Column City has 0 null values.
Column Grade 6 EQAO Reading Results has 0 null values.
Column Progress in Grade 6 EQAO Reading Results has 0 null values.
Column Grade 10 OSSLT Results has 2 null values.
Column Progress in Grade 10 OSSLT Results  has 2 null values.
Column Credit Accumulation by the end of Grade 10 has 2 null values.
Column Progress in Credit Accumulation by the end of Grade 10 has 2 null values.
Column Credit Accumulation by the end of Grade 11 has 2 null values.
Column Progress in Credit Accumulation by the end of Grade 11 has 2 null values.
Column Primary Class Size with 20 Students or less has 0 null values.
Column Progress in Primary Class Size with 20 Students or less has 0 null values.
Column Four Year Graduation Rate has 2 null values.
Column Progress in Four Year Graduation Rate has 2 null values.
Column Five Year Graduation Rate has 2 null values.
Column Progress in Five Year Graduation Rate has 2 null values.

In [19]:
my_list = list(df)
print(my_list)

['Board Number', 'Board Name', 'Board Language', 'Board Type', 'District Name', 'City', 'Grade 6 EQAO Reading Results', 'Progress in Grade 6 EQAO Reading Results', 'Grade 10 OSSLT Results', 'Progress in Grade 10 OSSLT Results ', 'Credit Accumulation by the end of Grade 10', 'Progress in Credit Accumulation by the end of Grade 10', 'Credit Accumulation by the end of Grade 11', 'Progress in Credit Accumulation by the end of Grade 11', 'Primary Class Size with 20 Students or less', 'Progress in Primary Class Size with 20 Students or less', 'Four Year Graduation Rate', 'Progress in Four Year Graduation Rate', 'Five Year Graduation Rate', 'Progress in Five Year Graduation Rate']

In [20]:
# Rename columns for DataFrame exploration
board_df = df.rename(columns={'Board Number':'board_number', 'Board Name':'board_name','Board Language':'language','Board Type':'type', 'District Name':'district','Grade 6 EQAO Reading Results':'gr6_reading','Progress in Grade 6 EQAO Reading Results':'gr6_reading_progress','Grade 10 OSSLT Results':'gr10_OSSLT','Progress in Grade 10 OSSLT Results ':'progress_gr10_OSSLT','Credit Accumulation by the end of Grade 10':'gr10_cr_accumulation','Progress in Credit Accumulation by the end of Grade 10':'progress_gr10_cr_accumulation','Credit Accumulation by the end of Grade 11':'gr11_cr_accumulation','Progress in Credit Accumulation by the end of Grade 11':'progress_gr11_cr_accumulation','Primary Class Size with 20 Students or less':'prim_cls_sz_20_or_less','Progress in Primary Class Size with 20 Students or less':'progress_prim_cls_sz_20_or_less','Four Year Graduation Rate':'four_yr_grad_rate','Progress in Four Year Graduation Rate':'progress_four_yr_grad_rate','Five Year Graduation Rate':'five_yr_grad_rate','Progress in Five Year Graduation Rate':'progress_five_yr_grad_rate'})
board_df.head()

,board_number,board_name,language,type,district,City,gr6_reading,gr6_reading_progress,gr10_OSSLT,progress_gr10_OSSLT,gr10_cr_accumulation,progress_gr10_cr_accumulation,gr11_cr_accumulation,progress_gr11_cr_accumulation,prim_cls_sz_20_or_less,progress_prim_cls_sz_20_or_less,four_yr_grad_rate,progress_four_yr_grad_rate,five_yr_grad_rate,progress_five_yr_grad_rate
0,B28010,Algoma DSB,English,Public,NB,Sault Ste Marie,0.71,0.04,0.67,0.01,0.72,-0.01,0.76,0.03,0.96,0.35,0.699858,-0.007367,0.769559,-0.011176
1,B67202,Algonquin and Lakeshore CDSB,English,Roman Catholic,OW,Napanee,0.77,-0.04,0.79,-0.04,0.85,-0.01,0.87,-0.04,0.93,0.53,0.875145,0.001905,0.907514,-0.007979
2,B66010,Avon Maitland DSB,English,Public,LD,Seaforth,0.81,0.01,0.75,-0.01,0.78,-0.01,0.76,-0.01,0.94,0.48,0.743966,0.025608,0.869828,0.030766
3,B66001,Bluewater DSB,English,Public,BE,Chesley,0.72,-0.03,0.78,0.00,0.72,-0.01,0.73,0.02,0.90,0.59,0.699913,0.026041,0.820468,0.005619
4,B67164,Brant Haldimand Norfolk CDSB,English,Roman Catholic,LD,Brantford,0.87,0.04,0.82,-0.01,0.79,-0.01,0.86,-0.01,0.91,0.51,0.834761,0.006403,0.886169,0.019253

In [21]:
# Array of unique board names.
unique_boards = board_df["board_name"].unique()
unique_boards

array(['Algoma DSB', 'Algonquin and Lakeshore CDSB', 'Avon Maitland DSB',
       'Bluewater DSB', 'Brant Haldimand Norfolk CDSB', 'Bruce-Grey CDSB',
       'CDSB of Eastern Ontario',
       "Conseil des écoles publiques de l'Est de l'Ontario",
       'Conseil scolaire catholique MonAvenir',
       'Conseil scolaire catholique Providence',
       'Conseil scolaire public du Grand Nord de l’Ontario',
       'CS Viamonde', "CSD du Nord-Est de l'Ontario",
       "CSDC de l'Est ontarien", 'CSDC des Aurores boréales',
       'CSDC des Grandes Rivières', "CSDC du Centre-Est de l'Ontario",
       'CSDC du Nouvel-Ontario', 'CSDC Franco-Nord', 'DSB of Niagara',
       'DSB Ontario North East', 'Dufferin-Peel CDSB', 'Durham CDSB',
       'Durham DSB', 'Grand Erie DSB', 'Greater Essex County DSB',
       'Halton CDSB', 'Halton DSB', 'Hamilton-Wentworth CDSB',
       'Hamilton-Wentworth DSB', 'Hastings & Prince Edward DSB',
       'Huron Perth CDSB', 'Huron-Superior CDSB',
       'Kawartha Pine Ridge DSB', 'Keewatin-Patricia DSB', 'Kenora CDSB',
       'Lakehead DSB', 'Lambton Kent DSB', 'Limestone DSB',
       'London District Catholic School Board', 'Near North DSB',
       'Niagara CDSB', 'Nipissing-Parry Sound CDSB', 'Northeastern CDSB',
       'Northwest CDSB', 'Ottawa CDSB', 'Ottawa-Carleton DSB', 'Peel DSB',
       'Peterborough Victoria Northumberland and Clarington CDSB',
       'Rainbow DSB', 'Rainy River DSB', 'Renfrew County CDSB',
       'Renfrew County DSB', 'Simcoe County DSB', 'Simcoe Muskoka CDSB',
       'St Clair CDSB', 'Sudbury CDSB', 'Superior North CDSB',
       'Superior-Greenstone DSB', 'Thames Valley DSB', 'Thunder Bay CDSB',
       'Toronto CDSB', 'Toronto DSB', 'Trillium Lakelands DSB',
       'Upper Canada DSB', 'Upper Grand DSB', 'Waterloo CDSB',
       'Waterloo Region DSB', 'Wellington CDSB', 'Windsor-Essex CDSB',
       'York CDSB', 'York Region DSB'], dtype=object)

In [22]:
# Number of unique boards
len(unique_boards)

72

In [23]:
# Array of unique board types. Two types: Public and Roman Catholic
unique_types = board_df["type"].unique()
unique_types

array(['Public', 'Roman Catholic'], dtype=object)

In [24]:
# Calculate average grade 6 reading score
avg_gr6_reading = board_df["gr6_reading"].mean()
avg_gr6_reading

0.8087500000000002

In [26]:
# Calculate average grade 10 OSSLT score
avg_gr10_osslt = board_df["gr10_OSSLT"].mean()
avg_gr10_osslt

0.778857142857143